@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background-color: #b3c6ff;
  color: #330066;
}

input,
button {
  font: inherit;
  color: inherit;
}

h1 {
  font-weight: 600;
}

main section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

input {
  max-width: 500px;
  text-align: center;
}

button {
  padding: 1rem;
  margin: 0 10px;
  cursor: pointer;
}